*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #131313ee;
}

.orange{
  color: #ff5100ec;
}

//BUTTON
.my-btn{
    color: white;
    border: 1px solid white;
    border-radius: 1px;
    padding: 10px 20px;
    margin: 10px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .4s;
    -webkit-box-shadow: 3px 5px 12px 1px #000000;
    -moz-box-shadow: 3px 5px 12px 1px #000000;
    -o-box-shadow: 3px 5px 12px 1px #000000;
    box-shadow: 3px 5px 12px 1px #000000;

    &:hover{
      background-color: white;
      color: black;
      font-size: 20px;
      font-weight: bold;
      -webkit-box-shadow: 5px 12px 16px 1px #000000;
      -moz-box-shadow: 5px 12px 16px 1px #000000;
      -o-box-shadow: 5px 12px 16px 1px #000000;
      box-shadow: 5px 12px 16px 1px #000000;
    }
}

#my-btn-orange{
  background-color: #ff5100ec;
  border: 1px solid #ff5100ec;

  &:hover{
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid white;
  }
}


.code{
  color: #8a8a8a;
  font-style: italic;
  font-size: 13px;

  &::before{
    content: '< ';
  }

  &::after{
    content: ' >';
  }
}
